@import "tailwindcss";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8fafc;
}

p,
a {
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-saira), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

#nprogress .bar {
  background: rgb(41, 146, 135) !important;
  height: 1.5px !important;
}

#nprogress .spinner-icon {
  border: solid 2px transparent !important;
  border-top-color: rgb(41, 146, 135) !important;
  border-left-color: rgb(41, 146, 135) !important;
}
